@page "/cases"
@inherits MvvmComponentBase<CasesViewModel>
<div class="mx-auto w-full bg-white-main @ViewModel.Theme.Dark px-2 text-black dark:bg-dark-main dark:text-white lg:px-10">
    <div class="col-span-3 items-center justify-center px-4 py-8 text-center text-black dark:text-white lg:px-10">
        <h1 class="mb-6 items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white">
            <span class="main-action dark:text-yellow-400">Projects</span>
             we successfully developed
        </h1>
        <span class="mb-6 block text-lg dark:text-white">One look is worth a thousand words.</span>
        <div class="flex flex-row content-center items-center justify-center gap-8">
            <button type="button"
                    class="main-action inline-flex w-auto min-w-20 items-center justify-center rounded-lg border border-rose-600 px-5 py-2.5 text-center text-sm font-medium shadow-lg hover:text-white hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:text-yellow-400 dark:border-yellow-300 dark:text-yellow-300 dark:shadow-orange sm:px-2.5 hover:dark:bg-yellow-500 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"
                    @onclick="@ViewModel.GetDetailsCommand.Execute">
                Get details
            </button>
        </div>
    </div>
    
    <Feedback DataContext="@ViewModel.Model.Feedback"></Feedback>

    <div class="items-center justify-center px-2 py-4 text-center text-black dark:text-white lg:px-24">
        <div class="grid w-full grid-cols-1 gap-8 p-4 md:p-10 md:grid-cols-2">
            @foreach (var service in ViewModel.Model.Cases)
            {
                <Card Name="@service.Name"
                      Description="@service.Description"
                      Image="@service.Image"
                      Url="@service.Url"
                      UrlText="@service.UrlText"></Card>
            }
        </div>
    </div>
</div>