@page "/cases"
@inherits MvvmComponentBase<CasesViewModel>
<div class="mx-auto w-full bg-white-main px-2 text-black dark:bg-dark-main dark:text-white-main lg:px-10">
    <UserAccent
        AccentText=@ViewModel.Localizer["CASES_ACCENT_WORD"].Value
        Text=@ViewModel.Localizer["CASES_TITLE"].Value
        Details=@ViewModel.Localizer["CASES_DESC"].Value
        ButtonClickCommand="@ViewModel.GetDetailsCommand"
        ButtonText=@ViewModel.Localizer["CASES_GET_DETAILS"].Value>
    </UserAccent>
    
    <Feedback DataContext="@ViewModel.Model.Feedback"></Feedback>

    <div class="items-center justify-center px-2 py-4 text-center text-black dark:text-white-main lg:px-24">
        <div class="grid w-full grid-cols-1 gap-8 p-4 md:p-10 md:grid-cols-2">
            @foreach (var service in ViewModel.Model.Cases)
            {
                <Card Name="@service.Name"
                      Description="@service.Description"
                      Image="@service.Image"
                      Url="@service.Url"
                      UrlText="@service.UrlText"></Card>
            }
        </div>
    </div>
</div>