@page "/laboratories"
@inherits MvvmComponentBase<LaboratoriesViewModel>
<div class="mx-auto w-full bg-white @ViewModel.Theme.Dark px-2 text-black dark:bg-gray-900 dark:text-white lg:px-10">
    <UserAccent AccentText="Digital"
                Text="laboratories"
                Details="We’ve built expert knowledge in a range of industries. Search any kind of industry and find the best applicable laboratory."
                ButtonClickCommand="@ViewModel.GetDetailsCommand"
                ButtonText="Get details">
    </UserAccent>
    <ItemsContainer TItem="LaboratoryModel"
                    Items="@ViewModel.Model.Laboratories"
                    Filter="@ViewModel.Model.Filter">
        <Card Name="@context.Name"
              Description="@context.Description"
              Image="@context.Image"
              Url="@context.Url"
              UrlText="@context.UrlText">
        </Card>
    </ItemsContainer>
</div>