@page "/services"
@inherits MvvmComponentBase<ServicesViewModel>
<div class="mx-auto w-full bg-white-main @ViewModel.Theme.Dark px-2 text-black dark:bg-dark-main dark:text-white-main lg:px-10">
    <div class="col-span-3 items-center justify-center px-4 py-8 text-center text-black dark:text-white-main lg:px-10">
        <h1 class="mb-6 items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white-main">
            <span class="text-white-action dark:text-dark-action">Software development</span>
            services
        </h1>
        <span class="mb-6 block text-lg dark:text-white-main">At UnitFirst, we provide end-to-end software development backed by industry-specific expertise, advisory support, and system maintenance, including maintenance of complex legacy solutions. Our software engineering services encompass both the classic outsourcing model and staff augmentation.</span>
        <div class="flex flex-row content-center items-center justify-center gap-8">
            <button type="button"
                    class="inline-flex w-auto min-w-20 items-center justify-center rounded-lg border border-white-action px-5 py-2.5 text-center text-sm font-medium text-white-action shadow-lg hover:text-white-main-main hover:bg-white-action focus:ring-4 focus:outline-none focus:ring-dark-action dark:text-dark-action dark:border-dark-action dark:text-dark-action dark:shadow-orange sm:px-2.5 hover:dark:bg-dark-action dark:hover:text-white-main-main dark:hover:bg-dark-action dark:focus:ring-dark-action"
                    @onclick="@ViewModel.GetInTouchCommand.Execute">
                Get in Touch
            </button>
            <button type="button"
                    class="inline-flex w-auto min-w-20 items-center justify-center rounded-lg border border-white-action px-5 py-2.5 text-center text-sm font-medium text-white-action shadow-lg hover:text-white-main-main hover:bg-white-action focus:ring-4 focus:outline-none focus:ring-dark-action dark:text-dark-action dark:border-dark-action dark:text-dark-action dark:shadow-orange sm:px-2.5 hover:dark:bg-dark-action dark:hover:text-white-main-main dark:hover:bg-dark-action dark:focus:ring-dark-action"
                    @onclick="@ViewModel.BookConsultationCommand.Execute">
                Book free consultation
            </button>
        </div>
    </div>
    
    <div class="items-center justify-center px-2 py-4 text-center text-black dark:text-white-main lg:px-24">
        <h1 class="mb-6 items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white-main">
            Categories of our
            <span class="text-white-action dark:text-dark-action">services</span>
        </h1>
        <span class="mb-6 block text-lg text-black dark:text-white-main">For over a decade, we have been accumulating knowledge and expertise in several services that became our specialization.</span>
        <div class="grid w-full grid-cols-1 gap-8 p-4 md:p-10 md:grid-cols-2">
            @foreach (var service in ViewModel.Model.Services)
            {
                <Card Name="@service.Name"
                      Description="@service.Description"
                      Image="@service.Image"
                      Url="@service.Url"
                      UrlText="@service.UrlText"></Card>
            }
        </div>
    </div>
</div>