@inherits MvvmComponentBase<UnitFirst.Landing.ViewModels.Wallpaper.WallPaperViewModel>

<main class="">
    
    @foreach (var t in @ViewModel.Model.ThesisCollection)
    {
        <Thesis Main="@t.Main"
                Description="@t.Description"
                Dark=""
                ButtonText="@t.ButtonText"
                Click="@t.ButtonClick"
                Image="@t.Image"></Thesis>

        <Separator></Separator>
    }

    <Newsletter Main="@ViewModel.Model.NewsLetter"
                Description="@ViewModel.Model.NewsLetterDesc"
                ButtonText="@ViewModel.Model.SubscribeAction"
                PlaceHolder="john.doe@company.com"
                Click="@ViewModel.Subscribe">
    </Newsletter>

    <Separator></Separator>
</main>