@using UnitFirst.Landing.Models.Shared
@typeparam TItem

<div class="items-center justify-center px-2 py-4 text-center text-black dark:text-white lg:px-24">
        
    <div class="flex justify-center px-4 py-2 md:px-10">
       <SearchInput Placeholder="@SearchPlaceholder" Value="@SearchText" FilterCommand="@FilterCommand"></SearchInput>
    </div>

    <div class="grid w-full grid-cols-3 gap-4 p-4 md:p-10 md:grid-cols-8">
        @foreach (var item in @Tags)
        {
            <ToggleButton
                Text="@item.TagName"
                FilterCommand="@FilterCommand"
                IsSelected="@item.Selected">
            </ToggleButton>
        }
    </div>
    <div class="grid w-full grid-cols-1 gap-8 p-4 md:p-10 md:grid-cols-4">
        @foreach (TItem item in @Items)
        {
            @ChildContent(item)
        }
    </div>
</div>

@code {

    [Parameter]
    public ObservableCollection<TagModel> Tags { get; set; }

    [Parameter]
    public string SearchText { get; set; }

    [Parameter]
    public string SearchPlaceholder { get; set; }

    [Parameter]
    public ObservableCollection<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; }

    [Parameter]
    public IRelayCommand FilterCommand { get; set; }

}