<div class="bg-white-main mx-auto w-full text-black dark:bg-dark-main dark:text-white-main">
    <div class="mx-auto grid w-full grid-cols-1 py-4 md:grid-cols-3">
        <div class="mx-auto grid w-full grid-cols-1 py-4">
            <div class="col-span-1"></div>
            <img src="@DataContext.Image" class="col-span-1 content-center items-center justify-center self-center" />
            <div class="col-span-1"></div>
        </div>
        <div class="bg-white-main col-span-2 items-center justify-center p-4 py-8 text-center text-black md:py-20 dark:bg-dark-main dark:text-white-main">
            <h1 class="mb-6 items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white-main">@DataContext.Main</h1>
            <span class="mb-6 block text-neutral-600 md:text-lg dark:text-white-main">@DataContext.Description</span>
            <ActionButton ButtonText="@DataContext.ButtonText" Click="@ThesisClicked"></ActionButton>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ThesisModel DataContext { get; set; }

    [Parameter]
    public EventCallback<ThesisModel> Click { get; set; }

    private void ThesisClicked()
    {
        Click.InvokeAsync(DataContext);
    }
}