<div class="flex w-full">
    <div class="flex flex-col px-4 pt-14 lg:px-28">
        <div class="flex">
            <h3 class="w-full font-sans text-5xl font-medium text-black lg:text-6xl lg:w-6/12">@DataContext.Title</h3>
        </div>
        <div class="grid grid-cols-1 gap-12 pt-20 lg:grid-cols-3">
            @for (var i = 0; i < 3; i++)
            {
                var item = DataContext.CharacteristicItems.ElementAtOrDefault(i);
                if (item == null)
                {
                    continue;
                }

                <div class="flex flex-col">
                    <p class="text-lg font-semibold">@item.Header</p>
                    <h3 class="text-base/8 pt-2">@item.Details</h3>
                </div>
            }

            @for (var i = 0; i < 3; i++)
            {
                var item = DataContext.CharacteristicItems.ElementAtOrDefault(i);
                if (item == null)
                {
                    continue;
                }

                <div class="mt-10 flex flex-col border-b border-t text-center lg:text-left">
                    <p class="pt-8 text-5xl font-semibold">@item.Value</p>
                    <h3 class="pb-4 pt-4">@item.Benefit</h3>
                </div>
            }

        </div>
    </div>
</div>

@code {

    [Parameter]
    public CharacteristicComponentModel DataContext { get; set; }

}