<div class="col-span-3 items-center justify-center px-4 py-8 text-center text-black dark:text-white-main lg:px-10">
    <h1 class="mb-6 items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white-main">
        <span class="text-white-action dark:text-dark-action">@AccentText</span>
        @Text
    </h1>
    @if (!string.IsNullOrEmpty(Details))
    {    
        <span class="mb-6 block text-lg dark:text-white-main">@Details</span>
    }
    @if (ButtonClickCommand != null && !string.IsNullOrEmpty(ButtonText))
    {
        <div class="flex flex-row content-center items-center justify-center gap-8">
            <button type="button"
                    class="inline-flex w-auto min-w-20 items-center justify-center rounded-lg border border-white-action px-5 py-2.5 text-center text-sm font-medium text-white-action shadow-lg hover:text-white-main-main hover:bg-white-action focus:ring-4 focus:outline-none focus:ring-dark-action dark:text-dark-action dark:border-dark-action dark:text-dark-action dark:shadow-orange sm:px-2.5 hover:dark:bg-dark-action dark:hover:text-white-main-main dark:hover:bg-dark-action dark:focus:ring-dark-action"
                    @onclick="@ButtonClickCommand.Execute">
                @ButtonText
            </button>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(SubAccentText))
    {
        <h1 class="mb-6 items-center justify-center py-4 text-center font-sans text-2xl font-medium tracking-tight dark:text-white-main">
            @SubAccentText
            <span class="text-white-action dark:text-dark-action">@SubText</span>
        </h1>
        <span class="mb-6 block text-lg text-black dark:text-white-main">@SubDetails</span>
    }
</div>

@code {
    [Parameter] public string AccentText { get; set; }

    [Parameter] public string Text { get; set; }

    [Parameter] public string Details { get; set; }

    [Parameter] public string SubAccentText { get; set; }

    [Parameter] public string SubText { get; set; }

    [Parameter] public string SubDetails { get; set; }

    [Parameter] public string ButtonText { get; set; }

    [Parameter] public IRelayCommand? ButtonClickCommand { get; set; }
}
