<div class="col-span-3 items-center justify-center px-4 py-8 text-center text-black dark:text-white lg:px-10">
    <h1 class="mb-6 items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white">
        <span class="text-rose-600 dark:text-yellow-400">@AccentText</span>
        @Text
    </h1>
    @if (!string.IsNullOrEmpty(Details))
    {    
        <span class="mb-6 block text-lg dark:text-white">@Details</span>
    }
    @if (ButtonClickCommand != null && !string.IsNullOrEmpty(ButtonText))
    {
        <div class="flex flex-row content-center items-center justify-center gap-8">
            <button type="button"
                    class="inline-flex w-auto min-w-20 items-center justify-center rounded-lg border border-rose-600 px-5 py-2.5 text-center text-sm font-medium text-rose-600 shadow-lg hover:text-white hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:text-yellow-400 dark:border-yellow-300 dark:text-yellow-300 dark:shadow-orange sm:px-2.5 hover:dark:bg-yellow-500 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"
                    @onclick="@ButtonClickCommand.Execute">
                @ButtonText
            </button>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(SubAccentText))
    {
        <h1 class="mb-6 items-center justify-center py-4 text-center font-sans text-2xl font-medium tracking-tight dark:text-white">
            @SubAccentText
            <span class="text-rose-600 dark:text-yellow-400">@SubText</span>
        </h1>
        <span class="mb-6 block text-lg text-black dark:text-white">@SubDetails</span>
    }
</div>

@code {
    [Parameter] public string AccentText { get; set; }

    [Parameter] public string Text { get; set; }

    [Parameter] public string Details { get; set; }

    [Parameter] public string SubAccentText { get; set; }

    [Parameter] public string SubText { get; set; }

    [Parameter] public string SubDetails { get; set; }

    [Parameter] public string ButtonText { get; set; }

    [Parameter] public IRelayCommand? ButtonClickCommand { get; set; }
}
