@inherits MvvmComponentBase<WallPaperViewModel>

<main class="@ViewModel.Theme.Dark">
    
    @foreach (var t in @ViewModel.Model.ThesisCollection)
    {
        <Thesis Main="@t.Main"
                Description="@t.Description"
                Dark="@ViewModel.Theme.Dark"
                ButtonText="@t.ButtonText"
                Click="@t.ButtonClick"
                Image="@t.Image"></Thesis>

        <Separator></Separator>
    }

    <Newsletter Dark="@ViewModel.Theme.Dark"
                Main="@ViewModel.Model.NewsLetter"
                Description="@ViewModel.Model.NewsLetterDesc"
                ButtonText="@ViewModel.Model.SubscribeAction"
                PlaceHolder="john.doe@company.com"
                Click="@ViewModel.Subscribe">
    </Newsletter>

    <Separator></Separator>
</main>