@inherits MvvmComponentBase<NavMenuViewModel>

<!-- Main navigation container -->
<nav class="shadow-b flex items-center justify-between gap-x-1 border-b border-gray-200 bg-white-main @ViewModel.Theme.Dark text-black shadow-indigo-500/50 dark:bg-dark-main dark:text-white-main sm:gap-x-2 lg:gap-x-6"
     aria-label="Global">
    <div class="flex @ViewModel.Theme.Dark border border-white-action bg-white-main px-2 dark:border-dark-action dark:bg-dark-action sm:px-6 lg:px-8">
        <a href="./">
            <div class="flex items-center justify-center">
                <span class="sr-only"></span>
                <img src="@ViewModel.Theme.Logo" class="h-10 max-w-none p-1" alt="logo">
                <div class="flex hidden lg:flex">
                    <p
                        class="flex items-center justify-center text-nowrap p-2 text-center align-middle font-sans text-xs font-bold text-black dark:text-black sm:text-xs md:text-xl lg:block lg:text-xl xl:text-xl 2xl:text-xl">
                        @ViewModel.Theme.Organization
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="flex hidden items-center justify-center gap-x-2 p-6 lg:flex">
        @foreach (var navItem in ViewModel.Model.NavItems)
        {
            <a class="flex h-10 items-center rounded-md bg-white-main px-8 font-bold text-black dark:bg-dark-main dark:text-white-main"
               href="@navItem.Link">
                @navItem.Name
            </a>
        }
    </div>

    <div class="flex basis-auto items-end justify-end gap-x-6 py-4">
        <LanguageSelector
            Dark="@ViewModel.Theme.Dark"
            Languages="@ViewModel.Model.Languages"
            SelectedLanguage="@ViewModel.Model.SelectedLanguage">
        </LanguageSelector>
        <DarkModeSwitch Switch="@ViewModel.DarkModeSwitch"></DarkModeSwitch>
        <ActionButton ButtonText="@ViewModel.Model.GetStarted" Click="@ViewModel.GetStarted"></ActionButton>
    </div>

</nav>